# Database
DATABASE_URL="postgresql://user:password@localhost:5432/scvv?schema=public"

# NextAuth.js
# You can generate this with `openssl rand -base64 32`
NEXTAUTH_SECRET="YOUR_VERY_COMPLEX_SECRET_HERE"
NEXTAUTH_URL="http://localhost:3000"

# Application Environment
NODE_ENV="development"